@page
@model MyEvents.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>


<div id="accordian"> 
    @foreach (var item in Model.Event)
    {
        <div class="card">
            <div class="card header" id="heading_@item.EventId">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_@item.EventId" aria-expanded="false" aria-controls="collapse_@item.EventId">
                        @Html.DisplayFor(modelItem => item.Title)
                    </button>
                </h5>
                @Html.DisplayFor(modelItem => item.Date)
            </div>
            <div id="collapse_@item.EventId" class="collapse" aria-labelledby="heading_@item.EventId" data-parent="#accordian">
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>@Html.DisplayFor(modelItem => item.Venue)</p>
                    <p>@Html.DisplayFor(modelItem => item.Address)</p>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.EventId">Join this event!</a>
                </div>
            </div>
        </div>
     }
</div>

